.profile-userInfo {
  margin: auto;
  width: 260px;
  height: 100px;
}
.profile-userInfo-img{
  width: 70px;
  height: 70px;
  border-radius: 25%;
  background-color: #ddd;
  margin-top: 10px;
}

.profile-userInfo > h2{
  float: right;
  margin-top: 40px;
}
.profile-tips {
  margin:auto;
  padding: 50px 20px;
}